<header class="header">
  <h1>
    <span class="stock">Stock </span>
    <span class="analysis">Analysis</span>
  </h1>
  <nav>
    <button class="nav" (click)="toLandingPage()">Home</button>
    <button class="current" (click)="toTest()">Strategy Tester</button>
    <button class="nav" (click)="toBackTest()">Back Test</button>
  </nav>
</header>

<div class="strategy-card">
  <h2>Strategy Define</h2>
  <input
    [(ngModel)]="strategyName"
    placeholder="What do you want to call your strategy?"
    class="strategy-name-input"
  />

  <div class="conditions-container">
    <!-- Entry Conditions -->
    <div class="condition-section">
      <h3>Entry condition</h3>
      <div class="period-inputs">
        <label>
          <span>Size percentage</span>
          <input type="number" placeholder="Enter size %" />
        </label>
        <label>
          <span>Stop loss</span>
          <input type="number" placeholder="Enter stop loss" />
        </label>
        <label>
          <span>Take profit</span>
          <input type="number" placeholder="Enter profit" />
        </label>
        <label>
          <span>Position</span>
          <select>
            <option value="">Select position</option>
            <option value="golden">Long</option>
            <option value="death">Short</option>
          </select>
        </label>
      </div>

      <div class="condition-options">
        <label>
          <span>Choose Entry condition</span>
          <select
            [(ngModel)]="selectedEntryStrategy"
            (change)="onEntryChange()"
          >
            <option
              *ngFor="let option of entryStrategyChoice"
              [value]="option.value"
            >
              {{ option.label }}
            </option>
          </select>
        </label>
        <label>
          <span>{{ firstEntryLabel }}</span>
          <input type="text" placeholder="Enter {{ firstEntryLabel }}" />
        </label>
        <label>
          <span>{{ secondEntryLabel }}</span>
          <input type="text" placeholder="Enter {{ secondEntryLabel }}" />
        </label>
      </div>
    </div>

    <!-- Exit Conditions -->
    <div class="condition-section">
      <h3>Exit condition</h3>
      <div class="period-inputs">
        <label>
          <span>Size percentage</span>
          <input type="number" placeholder="Enter size %" />
        </label>
        <label>
          <span>Stop loss</span>
          <input type="number" placeholder="Enter stop loss" />
        </label>
        <label>
          <span>Take profit</span>
          <input type="number" placeholder="Enter profit" />
        </label>
        <label>
          <span>Position</span>
          <select>
            <option value="">Select position</option>
            <option value="golden">Long</option>
            <option value="death">Short</option>
          </select>
        </label>
      </div>
      <div class="condition-options">
        <label>
          <span>Choose Exit condition</span>
          <select [(ngModel)]="selectedExitStrategy" (change)="onExitChange()">
            <option
              *ngFor="let option of exitStrategyChoice"
              [value]="option.value"
            >
              {{ option.label }}
            </option>
          </select>
        </label>
        <label>
          <span>{{ firstExitLabel }}</span>
          <input type="text" placeholder="Enter {{ firstExitLabel }}" />
        </label>
        <label>
          <span>{{ secondExitLabel }}</span>
          <input type="text" placeholder="Enter {{ secondExitLabel }}" />
        </label>
      </div>
    </div>
  </div>

  <!-- Risk Management -->
  <div class="risk-management">
    <h3>Risk Management</h3>
    <div class="risk-options">
      <label>
        <span>Stop loss</span>
        <input
          class="twoLastInput"
          type="number"
          [(ngModel)]="riskManagement.stopLoss"
          placeholder="Enter stop loss %"
        />
      </label>
      <label>
        <span>Target profit (%)</span>
        <input
          class="twoLastInput"
          type="number"
          [(ngModel)]="riskManagement.risk"
          placeholder="Enter target profit %"
        />
      </label>
      <!--<label>
        <span>Option 1</span>
        <select [(ngModel)]="riskManagement.option1">
          <option value="">Select option</option>
          <option value="option1">Option 1</option>
        </select>
      </label>
      <label>
        <span>Option 2</span>
        <select [(ngModel)]="riskManagement.option2">
          <option value="">Select option</option>
          <option value="option2">Option 2</option>
        </select>
      </label>-->
    </div>
  </div>

  <button (click)="saveStrategy()" class="save-button">Save Strategy</button>
</div>
