:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("../../../assets/login-bg.jpg"); /* Corrected */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  
  .login-container {
    background-color: var(--bg-medium);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(21,25,36);
    width: 300px;
  }
  
  h1 {
    text-align: center;
    color: rgb(38,143,229);
    margin-bottom: 1.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--bg-light);
    border-radius: 4px;
    background-color: var(--bg-light);
    color: var(--text-light);
  }
  
  button {
    background-color: rgb(181,224,253);
    color: black;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover:not(:disabled).login-button {
    background-color: var(--accent-hover);
  }
  
  button:disabled.login-button {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  button.signup-button {
    margin-top: 1rem;
  }

  .forgot-password {
    text-align: center;
    margin-top: 1rem;
  }
  
  .forgot-password a {
    color: var(--accent);
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }