:host {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(21,25,36);
}

.header {
    background-color: rgb(21,25,36);
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    color: white;
    width: 100%;
}

.stock {
    color: white;
}

.analysis {
    color: rgb(38,143,229);
}

nav{
    margin-left: 2.5rem;
    display: flex;
    gap: 2rem;
}

nav .nav:hover {
    color: rgb(14,165,233);
    border: 2px solid rgb(14,165,233);
    border-radius: 8px;
    cursor: pointer;
    padding: 3px 7px;
}

.nav {
    background-color: rgb(21,25,36);
    color: rgb(203,213,225);
    border: none;
    font-size: 1.2rem;
}

.current {
    background-color: rgb(21,25,36);
    color: rgb(14,165,233);
    border: 2px solid rgb(14,165,233);
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 3px 7px;
}

header input{
    margin-left: 6rem;
    width: 20%;
    height: 1rem;
}

  .main-content {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
    flex-grow: 1;
  }

  aside {
    width: 10%;
    background-color: rgb(29,40,58);
    border-right: 1px solid var(--bg-light, #ccc);
    padding: 20px;
    height: 90%;
  }

#logout{
    margin-top: 28rem;
    background-color: #FF5252;
}

  .chart-container {
    width: 80%;
    background-color: rgb(29,40,58);
    border: 1px solid var(--bg-light, #ccc);
    border-radius: 4px;
    padding: 20px;
    height: 90%;
  }

  article {
    width: 20%;
}

  .card {
    background-color: rgb(29,40,58);
    border: 1px solid var(--bg-light);
    border-radius: 4px;
    margin: 20px;
    margin-top: 0;
    padding: 20px;
}

input[type="date"] {
    border: 1px solid #ccc; /* Đường viền */
    border-radius: 4px; /* Bo góc */
    padding: 8px; /* Khoảng cách bên trong */
    font-size: 16px; /* Kích thước chữ */
    margin-right: 10px; /* Khoảng cách bên phải */
    width: 150px; /* Chiều rộng */
}
  
input[type="date"]:focus {
    border-color: #007bff; /* Màu đường viền khi focus */
    outline: none; /* Bỏ viền mặc định khi focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Hiệu ứng đổ bóng khi focus */
}
.chart-placeholder {
    height: 80%;
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: var(--text-dim);
    margin-bottom: 2rem;
}
.button {
    background-color: rgb(181,224,253);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: rgba(157, 198, 225, 0.732);
}
.tabs {
    display: flex;
    border-bottom: 1px solid var(--bg-light);
}
.tab {
    padding: 10px 20px;
    cursor: pointer;
    transition: border-color 0.3s;
}
.tab.active {
    border-bottom: 2px solid white
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
input, select {
    background-color: var(--bg-light);
    border: 1px solid var(--bg-light);
    color: var(--text-light);
    padding: 5px 10px;
    border-radius: 8px;
}
#watchlist {
    list-style-type: none;
    padding: 0;
}
#watchlist li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#watchlist li:hover {
    background-color: #444;
}
.stock-status {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.stock-status.up {
    border-bottom: 10px solid #4CAF50;
}
.stock-status.down {
    border-top: 10px solid #FF5252;
}
